h1 {
    color: rgb(0, 112, 210);
}
p {
    font-family: 'Salesforce Sans', Arial, sans-serif;
    color: rgb(62, 62, 60);
}
.app {
    background-color: #fafaf9;
    height: 100vh;
    overflow: scroll;
}

.icon-color{
    --sds-c-icon-color-foreground-default: white;
    --sds-c-icon-color-background: transparent;
}

.blue-bg {
   background-color: #264e69; 
   width: 9rem;
}